<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages ">
	<!-- <div data-page="index" class="page"> -->
	<div data-page="menu" class="page navbar-fixed toolbar-fixed">
		<div class="page-content">
        	<h2 class="page_title">About Us</h2>
            <div class="custom-accordion">
                <div class="accordion-item">
                    <div class="accordion-item-toggle">
                        <i class="icon icon-plus">+</i>
                        <i class="icon icon-minus">-</i>
                        <span>About IoD (Kenya)</span>
                    </div>
                    <div class="accordion-item-content" style="">
                        <p>
                            IoD (Kenya) exists to represent Kenyan directors and to advocate their interests. Foremost among its goals is to professionalize the career of directors in all sectors of the economy. It pursues this objective through:
                            <ol><li>Offering directors opportunities for continuing training through short training courses, periodic workshops and other opportunities for peer networking.</li><li>Running director certification programs in collaboration with IoD’s world over.</li><li>Supporting the evaluation of the performance of boards and directors and addressing any weaknesses in structure and processes identified.</li><li>Setting and disseminating standards and benchmarks of best practice in corporate governance, including Codes of Corporate Governance and codes of ethics/conduct for all sectors of the economy.</li><li>Engaging with stakeholders in addressing and promoting best practices in corporate governance for betterment of institutions.</li><li>Engaging GOK, regulators, professional and trade associations in initiatives for promoting good corporate governance in the various sectors through forums that identify sectoral weaknesses in the implementation of corporate governance and recommending measures for strengthening governance therein.</li></ol>
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-toggle">
                        <i class="icon icon-plus">+</i>
                        <i class="icon icon-minus">-</i>
                        <span>Our Strategic Pillars</span>
                    </div>
                    <div class="accordion-item-content" style="">
                        <img src="images/spIoDK.png" class="pb-about img-responsive">
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-toggle">
                        <i class="icon icon-plus">+</i>
                        <i class="icon icon-minus">-</i>
                        <span class="">Membership Categories</span>
                    </div>
                    <div class="accordion-item-content" style="">
                        <div class="content-block-title">Associate Member</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>To become an associate member an applicant must be over 21 years of age and be: A partner in a small professional practice; or A sole proprietor of an unincorporated business; or A senior executive reporting directly to a board member in an NGO, a state enterprise, parastatal or other public body of similar standing; or A senior executive of a national or international company or organisation reporting to a board member; or A director who does not otherwise qualify to be an ordinary member. N.B. Associate members have no voting rights.</p>
                            	<p>Cost</p>
                            	<p>Registration Kes 3,000</p>
                            	<p>Annual Subscription Kes 10,000</p>
                            </div>
                        </div>
                        
                        <div class="content-block-title">Ordinary Member</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>To become an ordinary member an applicant must be over 21years of age and meet one of the following criteria: A company director for a minimum of 3 years having been in business for a minimum of seven years; or In business for a minimum of five years as one of the following a partner or senior manager in a professional practice, or a holder of a professional or educational qualification working in the business sector or public sector; or a sole proprietor or partner of an unincorporated business; or a senior executive of a national or international company or organisation, or public sector body, reporting directly to a main board member; or meet such other conditions which in the opinion of the IoD(K) are of a sufficiently acceptable standard so as to confer membership and, preferably have attended the IoD (K) course on ‘Being a Director - Directors Role, Duties and Liabilities.`</p>
                            	<p>Cost</p>
                            	<p>Registration Kes 3,000</p>
                            	<p>Annual Subscription Kes 12,000</p>
                            </div>
                        </div>
                        
                        <div class="content-block-title">Fellow Member</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>The Fellow grade is open to members who are over 30 years of age and have been directors of a company/organisation with a board of at least three directors (or, if the company has more than 50 employees, two directors) either: a) For at least 10 years; or b) For at least five years, having not less than 10 years’ business experience, and having obtained such additional qualifications which, at the IoD(K)’s discretion, merit such an appointment. Any member with appropriate experience may apply for fellowship after being an Ordinary Member for three years.</p>
                            </div>
                        </div>
                        
                        <div class="content-block-title">Corporate Member</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<h5>Why Join As a Corporate Member?</h5>
                                <ol><li>Profile and emphasize your company's interest in and support of good corporate governance.</li><li>Access IoD(K)’s full suite of member services, such as Board director search facility, extensive professional development courses, Board and Director evaluation, networking events including talks on thought leadership, pieces on corporate governance and stewardship.</li></ol>
                            	<p>Cost</p>
                            	<p>Large Corporations/listed companies: Kshs. 100,000.</p>
                            	<p>NGOs Non-Profits: Kshs. 60,000</p>
                            	<p>Large SME’s: Kshs. 80,000</p>
                            	<p>Medium SME’s: Kshs. 50,000</p>
                            	<p>Small SME’s: Kshs. 30,000</p>
                            	<p>There is a further discount of 10% for payment of 3 years subscription and 15% for 5 years subscription.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <div class="accordion-item-toggle">
                        <i class="icon icon-plus">+</i>
                        <i class="icon icon-minus">-</i>
                        <span class="">Membership Benefits</span>
                    </div>
                    <div class="accordion-item-content" style="">
                        <div class="content-block-title">Director Search Facility</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>Using its membership database IOD (K) has been able to assist companies, investors and institutions identify suitable candidates for recruitment to boards. Members are kindly requested to forward their profiles to IOD (K) for inclusion in the databank and consideration as opportunities arise. Companies requiring assistance in identifying suitable candidates for appointment as independent non-executive directors may contact the Administrator on at the contact address provided on our website.</p>
                            </div>
                        </div>
                        
                        <div class="content-block-title">Training Opportunities</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>For ongoing training in a CPD format in topics around best practices in corporate governance, strategic planning, risk management, board crisis management, corporate reputation rescue and related topics.</p>
                            </div>
                        </div>
                        
                        <div class="content-block-title">Director Certification</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>IOD (K) has entered into an arrangement with IoD (UK) for the latter to conduct in Kenya a two module programme leading to the globally acclaimed chartered director qualification.</p>
                            </div>
                        </div>
                        
                        <div class="content-block-title">Board and Director Evaluation</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                            	<p>IOD (K) is supporting boards and directors conduct a comprehensive evaluation of their performance, identify performance gaps and recommend measures for improving overall corporate governance of their organizations. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="toolbar tabbar tabbar-labels" id="bottom">
			<div class="toolbar-inner">
				<a href="main.html">
					<i class="fa fa-bars"></i>
					<span class="tabbar-label">Menu</span>
				</a>
				<a href="profile.html">
					<i class="fa fa-user"></i>
					<span class="tabbar-label">Sign In</span>
				</a>
				<a href="contact.html">
					<i class="fa fa-phone"></i>
					<span class="tabbar-label">Contact</span>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Bottom Toolbar-->