<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages ">
	<!-- <div data-page="index" class="page"> -->
	<div data-page="account" class="page navbar-fixed toolbar-fixed">
    	
		<div class="page-content">
        	<h2 class="page_title">My Account</h2>
            
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">Please log into your account on our website to update your details</div>
                </div>
            </div>
            
		</div>
        
        <!--<a href="#" class="floating-button color-pink open-popup button active" data-popup=".popup-add-discussion" >
        	<i class="fa fa-plus"></i>
        </a>-->
        
		<div class="toolbar tabbar tabbar-labels" id="bottom">
			<div class="toolbar-inner">
				<a href="main.html">
					<i class="fa fa-bars"></i>
					<span class="tabbar-label">Menu</span>
				</a>
                <a class="profile-page active" href="#">
					<i class="fa fa-user"></i>
					<span class="tabbar-label">Profile</span>
				</a>
				<a class="" href="contact.html">
					<i class="fa fa-phone"></i>
					<span class="tabbar-label">Contact</span>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Bottom Toolbar-->


