<div class="navbar">
  <div class="navbar-inner">
    	<div class="left">
		    <a href="#" class="link icon-only open-panel"><i class="fa fa-bars"></i></a>
		</div>
       <div class="center">TICKETS</div>
       <div class="right" style="margin-right:5px;">
            <a href="#" class="link icon-only open-panel" onclick="get_all_vehicles_listing()"><i class="fa fa-refresh"></i></a>
      </div>
   
  </div>
</div>
<div class="pages navbar-through">
  <!-- Pag has additional "with-subnavbar" class -->
  <div data-page="crimes-page" class="page">
  	  <!-- Search Bar -->
  <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init" style="border-top:2px solid #ccc">
    <div class="searchbar-input">
      <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
    </div><a href="#" class="searchbar-cancel">Cancel</a>
  </form>
 
  <!-- Search Bar overlay -->
  <div class="searchbar-overlay"></div>

    <div class="page-content">
    	<div class="content-block searchbar-not-found">
		      <div class="content-block-inner">Nothing found</div>
		 </div>

		<div class="list-block media-list list-block-search searchbar-found" >                           
            <ul id="vehicles-ul">
			</ul>
        </div>
    	
    </div>
     <div class="toolbar tabbar tabbar-labels" id="bottom" >             
                           
       <a  class="button tool-button open-popup default "  data-popup=".popup-report" >  <span class="tabbar-label">QUERY VEHICLE</span></a>  
    </div>
  </div>
</div>