<div class="navbar">
   <div class="navbar-inner">
      <div class="left">
         <a href="main.html" class="link back"> <i class="fa fa-arrow-left"></i> TICKETS </a>
      </div>
      <div class="center">FEEDBACK</div>
      <div class="right" style="margin-right:5px;">
      </div>
   </div>
</div>
<div class="pages navbar-through">
   <!-- Pag has additional "with-subnavbar" class -->
   <div data-page="crime-response" class="page">
      <div class="page-content  messages-content">
      	
         <div class="messages">
            <!-- Date stamp -->

            <div class="message  message-received">
               <!-- Sender name -->
               <div class="message-name">You</div>
               <!-- Bubble with text -->
               <div class="message-text">
	               I am fine, thanks
           		</div>
           		<div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>

            </div>
            <div class="message  message-sent">
               <!-- Sender name -->
               <div class="message-name">Kate</div>
               <!-- Bubble with text -->
               <div class="message-text">
	               I am fine, thanks hlashdladsja asdasd aasdhadsoa sdasdhasd asdgakjsdga sda
	              
           		</div>
                <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>

            </div>
            <div class="message  message-sent">
               <!-- Sender name -->
               <div class="message-name">Kate</div>
               <!-- Bubble with text -->
               <div class="message-text">
	               I am fine, thanks hlashdladsja asdasd aasdhadsoa sdasdhasd asdgakjsdga sda
	              
           		</div>
                <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>

            </div>
            <div class="message  message-sent">
               <!-- Sender name -->
               <div class="message-name">Kate</div>
               <!-- Bubble with text -->
               <div class="message-text">
	               I am fine, thanks hlashdladsja asdasd aasdhadsoa sdasdhasd asdgakjsdga sda
	              
           		</div>
                <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>

            </div>
            
         </div>
      </div>
   </div>
</div>

