<div class="navbar">
  <div class="navbar-inner">
    	<div class="left">
		    <a href="#" class="link icon-only open-panel"><i class="fa fa-bars"></i></a>
		</div>
       <div class="center">MY ACCOUNT</div>
       <div class="right" style="margin-right:5px;">
          <a href="main.html" class="link icon-only"><i class="fa fa-database"></i></a>
      </div>
   
  </div>
</div>
<div class="pages navbar-through">
  <!-- Pag has additional "with-subnavbar" class -->
  <div data-page="crimes-page" class="page">

 
  <!-- Search Bar overlay -->
  <div class="searchbar-overlay"></div>

    <div class="page-content">
        <div class="row" style="padding-left:5px; padding-right:5px;">
            <div class="col-100" style="text-align: left;">
                <p> <strong><i class="fa fa-database"></i> </strong> <span id="customer_name"></span></p>
                <p><strong><i class="fa fa-phone"></i> </strong><span id="customer_phone"></span></p>
                <p><strong><i class="fa fa-inbox"></i> </strong> <span id="card_number"></span></p>
            </div>
           
        </div>
        <div class="content-block">
  		    <div class="content-block-inner">
              <div class="row">
                  <div class="col-50 alert-success" style="padding: 5px;" >
                      <p class="center-align"> <strong>POINTS AVAILABLE</strong></p>
                      <p class="center-align"><strong id="stock"></strong> </p>
                      <p class="center-align" style="font-size: 11px;"> <i class="fa fa-calendar"></i>Updated @ <span id="last-stock-update"></span> </p>
                  </div>
                  <div class="col-50 alert-warning" style="padding: 5px;" >
                      <p class="center-align"> <strong>REDEMMED POINTS</strong></p>
                      <p class="center-align"><strong id="orders"></strong> </p>
                      <p class="center-align" style="font-size: 11px;"> <i class="fa fa-calendar"></i>Update @ <span id="last-updated"></span></p>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>