<div class="navbar">
  <div class="navbar-inner">
    	<div class="left">
		    <a href="#" class="link icon-only open-panel"><i class="fa fa-bars"></i></a>
		</div>
       <div class="center">MY TRANSACTIONS</div>
       <div class="right" style="margin-right:5px;">
          <a href="main.html" class="link icon-only"><i class="fa fa-database"></i></a>
      </div>
   
  </div>
</div>
<div class="pages navbar-through">
  <!-- Pag has additional "with-subnavbar" class -->
  <div data-page="transactions-page" class="page">
  	  <!-- Search Bar -->
  <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init" style="border-top:2px solid #ccc">
    <div class="searchbar-input">
      <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
    </div><a href="#" class="searchbar-cancel">Cancel</a>
  </form>
 
  <!-- Search Bar overlay -->
  <div class="searchbar-overlay"></div>

    <div class="page-content">
    	<div class="content-block searchbar-not-found">
		      <div class="content-block-inner">Nothing found</div>
		 </div>

		<div class="list-block media-list list-block-search searchbar-found" >                           
            <ul id="transactions-ul">
			</ul>
        </div>
    	
    </div>
    
  </div>
</div>