<div class="views">
  <div class="view view-main"> -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
	        <a href="#" class="link back"> <i class="fa fa-arrow-left"></i></a>
	      </div>
	      <div class="center sliding"> UPLOADS</div>
	      <div class="right" style="margin-right:5px;">
      		<a href="client-profile.html"  class="link icon-only"> <i class="fa fa-home"></i> CLIENT</a>
	      </div>
       
      </div>
    </div>
    <div class="pages navbar-through">
      <!-- Pag has additional "with-subnavbar" class -->
      <div data-page="uploads-page" class="page">
        <div class="page-content">
            <div class="row" style="margin-top:20px;">
                 <div class="col-50">
                    <a class="button button-small active" onclick="capturePhoto();"> CAPTURE PHOTO </a> 
                 </div>
                <div class="col-50">
                    <a class="button button-small danger" onclick="getPhoto(pictureSource.PHOTOLIBRARY);"> GALLERY </a>  
                </div> 
            </div>
            <div class="list-block">
                <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title label">FEEDBACK</div>
                          <div class="item-input">
                            <i id="feedback_item"></i>
                          
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
            <img id="image" name="upload_image" src="" style="display:none;width:50%;">
            <div class="row" style="margin-top: 20px;">
                 <div class="col-100">
                    <a class="button button-small danger" onclick="upload();" id="submit_order" style="display:none;"> SUBMIT ORDER </a>  
                </div> 
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels" id="bottom">
            <div class="toolbar-inner">
                <a class="button  tool-button" href="stock.html" id="events-button"  >
                    <i class="fa fa-bar-chart">
                    </i>
                    <span class="tabbar-label">STOCK</span>
                </a>
                <a href="orders.html" class="button  tool-button" id="resources-button">
                    <i class="fa fa-cart-plus">
                        <!-- <span class="badge bg-red" > <span id="num_publication">0</span></span> -->
                    </i>
                    <span class="tabbar-label">ORDERS</span>
                </a>
                <a href="sales.html" class="button  tool-button" id="live-button">
                    <i class="fa fa-check">
                        <!-- <span class="badge bg-red"><span id="num_videos">0</span></span> -->
                    </i>
                    <span class="tabbar-label">SALES</span>
                </a>
                <a href="posm.html" class="button tool-button" id="chat-button">
                    <i class="fa fa-calendar">
                    </i>
                    <span class="tabbar-label">POSM</span>
                </a>
                <a href="uploads.html" class="button active tool-button" id="profile-button">
                    <i class="fa fa-upload"></i>
                    <span class="tabbar-label">UPLOADS</span>
                </a>
            </div>
        </div>
      </div>
    </div>
 <!--  </div>
</div>  